/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Custom */

@font-face {
    font-family: a_little_sunshine;
    src: url(/fonts/a_little_sunshine.ttf);
}

@font-face {
  font-family: mallino;
  src: url(/fonts/mallino.ttf);
}

@font-face {
  font-family: loveland;
  src: url(/fonts/loveland.ttf);
}


@font-face {
  font-family: miss_kindergarden;
  src: url(/fonts/miss_kindergarden.ttf);
}

@font-face {
  font-family: i_love_glitter;
  src: url(/fonts/i_love_glitter.ttf);
}

@font-face {
  font-family: shoreline_script;
  src: url(/fonts/shoreline_script.otf);
}


.anchor {
  padding-top: 56px;
}

.logo {
  font-family: a_little_sunshine;
}

.polaroid {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}