/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Custom */

@font-face {
    font-family: a_little_sunshine;
    src: url(/fonts/a_little_sunshine.ttf);
}

@font-face {
  font-family: gelpen;
  src: url(/fonts/GelPen.ttf);
}

@font-face {
  font-family: loveland;
  src: url(/fonts/loveland.ttf);
}


@font-face {
  font-family: miss_kindergarten;
  src: url(/fonts/miss_kindergarten.ttf);
}

@font-face {
  font-family: i_love_glitter;
  src: url(/fonts/i_love_glitter.ttf);
}

@font-face {
  font-family: shoreline_script;
  src: url(/fonts/Shoreline_script_revised2.otf);
}


.anchor {
  padding-top: 56px;
}

.logo {
  font-family: a_little_sunshine;
}

.language-flag {
  padding-right: 1vh;

  max-width: 5vh
}


.polaroid {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.list {
  list-style-type: disc !important;
  list-style-position: outside !important;
  /*margin-left: 1em;
  margin-bottom: 1em;*/
}

/* Rotation Properties */

.value {
  font-weight: bold;
}

.rotate_l1 {
  transform: rotate(359deg);
} 

.rotate_l5 {
  transform: rotate(355deg);
} 

.rotate_l7 {
  transform: rotate(353deg);
} 

.rotate_r1 {
  transform: rotate(5deg);
}

.rotate_r4 {
  transform: rotate(4deg);
} 

.rotate_r8 {
  transform: rotate(8deg);
} 

.flowtext {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  font-family: shoreline_script;
}

.date, .city {
  font-family: shoreline_script;
}

.address {
  font-family: monospace;
  margin: 1em;
  padding: 1em;
  border: 1px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  vertical-align: center;
}

.message {
  width: 10em;
  height: 5em;
  background-color: #f9ffac;
  color: black;
  font-family: gelpen;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1em;
  text-align: center;
  vertical-align: center;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
