/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Custom */

@font-face {
    font-family: a_little_sunshine;
    src: url(/fonts/a_little_sunshine.ttf);
}

@font-face {
  font-family: gelpen;
  src: url(/fonts/GelPen.ttf);
}

@font-face {
  font-family: loveland;
  src: url(/fonts/loveland.ttf);
}


@font-face {
  font-family: miss_kindergarten;
  src: url(/fonts/miss_kindergarten.ttf);
}

@font-face {
  font-family: i_love_glitter;
  src: url(/fonts/i_love_glitter.ttf);
}

@font-face {
  font-family: shoreline_script;
  src: url(/fonts/Shoreline_script_revised5.otf);
}


.anchor {
  padding-top: 56px;
}

.logo {
  font-family: a_little_sunshine;
}

.language-flag {
  padding-right: 1vh;
  max-width: 5vh
}

.header {
  padding-top: 3em;
}

.polaroid {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ddd;
  padding: 5px;
}

.list {
  list-style-type: disc !important;
  list-style-position: outside !important;
  /*margin-left: 1em;
  margin-bottom: 1em;*/
}

/* Rotation Properties */

.value {
  font-weight: bold;
}

.rotate_l1 {
  transform: rotate(359deg);
} 

.rotate_l5 {
  transform: rotate(355deg);
} 

.rotate_l7 {
  transform: rotate(353deg);
} 

.rotate_r1 {
  transform: rotate(5deg);
}

.rotate_r4 {
  transform: rotate(4deg);
} 

.rotate_r8 {
  transform: rotate(8deg);
} 

.flowtext {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  font-family: shoreline_script;
}

.date, .city {
  font-family: shoreline_script;
}

.address {
  font-family: monospace;
  margin: 1em;
  padding: 1em;
  border: 1px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  vertical-align: center;
}

.message {
  width: 10em;
  background-color: #f9ffac;
  color: black;
  font-family: gelpen;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1em;
  text-align: center;
  vertical-align: center;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.btn-spaced {
  margin-top: 1.5em;
}

.spaced-top {
  margin-top: 1.5em;
}

.turistic-title {
  font-family: shoreline_script;
}

.turistic-leftmenu {
  padding-top: 60px;
}

.turistic-nav {
  width: 100%;
  background-color: #fff;
}

.turistic-imgs {
  padding-top:20px;
}

.subsection {
  padding-left: 10px;
}

.tab-nav.tab-nav-transparent .tab a:hover,
.tab-nav.tab-nav-transparent .tab a.active {
  color: #fff;
}

.tab-nav.tab-nav-transparent .indicator {
  background-color: #fff;
}

.tab-nav.tab-nav-fixed-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tab-nav.tab-nav-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tab-nav .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tab-nav .tab a {
  color: rgba(238, 110, 115, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tab-nav .tab a:focus, .tab-nav .tab a:focus.active {
  background-color: rgba(246, 178, 181, 0.2);
  outline: none;
}

.tab-nav .tab a:hover, .tab-nav .tab a.active {
  background-color: transparent;
  color: #ee6e73;
}

.tab-nav .tab.disabled a,
.tab-nav .tab.disabled a:hover {
  color: rgba(238, 110, 115, 0.4);
  cursor: default;
}

.tab-nav .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f6b2b5;
  will-change: left, right;
}

@media only screen and (max-width: 992px) {
  .tab-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tab-nav .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .tab-nav .tab a {
    padding: 0 12px;
  }
}
